nav {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(22, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#tarjetas {
background: rgba( 225, 225, 225, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.30 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0);

}

#tarjetas p,span{
    color: black;
}