nav {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(22, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#tarjetas {
-webkit-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
}
